$blue: #4078a0;
$blue-dark: #1e567e;
$blue-light: #6199c1;

$black: #1a1a1a;
$black-dark: #0c0c0d;
$black-light: #292929;

$white: #edf1f7;
$white-dark: #e5e9ef;
$white-light: #f4f7fb;

$gray-1: #a1a3a5;
$gray-2: #b5b6b8;
$gray-3: #959698;

